.footercont{
    height:60px;
    width:100%;
    background-color:var(--boxcolor);
    display:flex;
    align-items: center;
}
.socialmedia{
    display:flex;
    align-items: center;
    height:100%;
}
.socialmedia a {
    color:white;
    height: 40px;
    width:40px;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content: center;
}