.container{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --primary: #F99F2B;
    background-color: #111;
    min-height: 100vh;
    z-index: -1;
}

.backgroundimg {
    position: fixed;
    width: 100%;
    top: -200px;
    left: 0;
    z-index: 0;
}

.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    flex-direction: row;
    display: flex;
    background-color: #000;
    justify-content: space-between;
}

.headerimg {
    height: 90%;
    margin: 5px;
    width: auto;
    flex: left;
}

.navbar {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    right: 5px;
    justify-content: space-between;
    align-items: center;
    flex: right;
}

.navbar a {
    color: white;
    min-width: 110px;
    text-align: center;
}

.navbar a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.valor {
    display: relative;
    margin-top: 150px;
    margin-bottom: 10%;
    text-align: center;
    color: white;
}

.video {
    display: absolute;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    border: var(--primary) solid 1px;
}

.sobre {
    display: relative;
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 150px;
}

.sobre h1 {
    margin-bottom: 40px;
}

.contato {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    color: white;
}

.contato input {
    margin-top: 10px;
    width: 60%;
}

.submit {
    background-color: var(--primary);
    border: none;
    padding: 10px;
    width: 200px !important;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .header {
        display: block;
    }
    .navbar,
    .headerimg {
        width: 100%;
        max-width: none;
    }
    .navbar {
        background-color: #111;
        margin: 0;
    }
}