@font-face {
    font-family: "AlmaqW01-Rough";
    src: url("//db.onlinewebfonts.com/t/86da85d699ce035da08306ffd6520604.eot");
    src: url("//db.onlinewebfonts.com/t/86da85d699ce035da08306ffd6520604.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/86da85d699ce035da08306ffd6520604.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/86da85d699ce035da08306ffd6520604.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/86da85d699ce035da08306ffd6520604.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/86da85d699ce035da08306ffd6520604.svg#AlmaqW01-Rough") format("svg");
}

.page{
    padding: 0;
    font-family: "AlmaqW01-Rough", sans-serif;
    --primary: #F99F2B;
    background-color: #111;
    min-height: 100vh;
    z-index: -1;
}
.container{
    position:relative;
    margin: auto;
    max-width:1280px;
    z-index:1;
}

.backgroundimg {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    flex-direction: row;
    display: flex;
    background-color: #000;
    justify-content: space-between;
}

.headerimg {
    height: 90%;
    margin: 5px;
    width: auto;
    flex: left;
}

.navbar {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    right: 5px;
    justify-content: space-between;
    align-items: center;
    flex: right;
}

.navbar a {
    color: white;
    min-width: 110px;
    text-align: center;
}

.navbar a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.herocont{
    margin-top:80px;
    width:100%;
    height:50%;
}
.herocont iframe{
    margin:auto;
    width:100%;
    height:auto;
}
.valor {
    display: relative;
    margin-top: 150px;
    margin-bottom: 10%;
    text-align: center;
    color: white;
}

.sobre {
    display: relative;
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 150px;
}

.sobre h1 {
    margin-bottom: 40px;
}

.contato {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    color: white;
}

.contato input {
    margin-top: 10px;
    width: 60%;
}

.submit {
    background-color: var(--primary);
    border: none;
    padding: 10px;
    width: 200px !important;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .header {
        display: block;
    }
    .headerimg {
        width: 100%;
        max-width: none;
    }
    .navbar {
        width: 330px;
        background-color: #111;
        margin-left: calc(50% - 165px);
    }
}