.header {
    position: fixed;
    top: 30px;
    height: 80px;
    width: 100%;
    flex-direction: row;
    display: flex;
    background-color: var(--boxcolor);
    justify-content: space-between;
    z-index:10;
    font-family: "AlmaqW01-Rough";
}

.headerimg {
    height: 90%;
    margin: 5px 15px;
    width: auto;
    flex: left;
}

.navbar {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    right: 5px;
    justify-content: space-between;
    align-items: center;
    flex: right;
}

.navbar a {
    color: white;
    min-width: 110px;
    text-align: center;
}

.navbar a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.socialmedia{
    display:flex;
    align-items: center;
    height:100%;
    
}
.socialmedia a {
    color:white;
    height: 50px;
    width:50px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.socialmedia a img{
    height:30px;
    width: 30px;
}

@media (max-width: 700px) {
    .header {
        
    }
    .headerimg {
        height:60%;
    }
    .navbar {
        display:none;
    }
}