.header {
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    flex-direction: row;
    display: flex;
    padding: 0 15px;
    background-color: var(--boxcolor);
    justify-content: space-between;
    z-index:10;
    font-family: "Bebas-Neue";
}

.headerimg {
    height: 90%;
    width: auto;
    flex: left;
    align-self: center;;
}

.navbar {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    right: 5px;
    justify-content: space-between;
    align-items: center;
}

.navbar .navlink {
    color: white;
    text-align: center;
    font-size:1.5rem;
    
}

.navbar a:hover {
    color: var(--primary);
    text-decoration: underline;
}
.socialmedia{
    display:flex;
    align-items: center;
    height:100%;
}
.socialmedia a {
    color:white;
    height: 40px;
    width:40px;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.header button{
    margin:0;
    padding:0;
    width:40px;
    height:40px;
    background: none;
    border:none;
    cursor:pointer;
    display:none;
    align-self:center;
}
.header button:active{
    border:none;
}
.header button img{
    margin:0;
    padding:0;
    width:40px;
}
.header button:focus, .header button:hover{
    border:none;
}

@media (max-width: 700px) {

    .headerimg {
        height:60%;
        margin-top:15px;
        width:auto;
    }
    .navbar {
        display: none;
        position:absolute;
        background: var(--boxcolor);
        width:100vw;
        max-width: none;
        margin-top:60px;
        height: auto;
    }
    .navbar .navlink {
        position: relative;
        color: white;
        text-align: right;
        font-size:1.5rem;
        padding:1rem 1rem 0 0;
    }
    .header button{
        margin-left:10px;
    }
    .header button {
        display:block;
    }
}