.sobrecont{
    max-width:1280px;
    margin:auto;
    padding:6rem 0 4rem 0;
    color:var(--paragrafcolor);
    font-family:NotoSansKR;
    font-weight:100;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col{
    flex-direction: column;
    max-width:500px;
    width:50%;
    box-sizing: border-box;
    padding:0 2rem;
}
.col h2{
    text-align: left;
}
.col img{
    max-width: 500px;
    width:100%;
    height:auto;
    display:block;
    z-index: 10;
}
.corpo{
    display:block;
    width:100%;
    padding: 0 32px;
    max-width:1000px;
}

@media (max-width: 920px) {
    .sobrecont{
        display:block;
    }
    .row{
        flex-direction: column-reverse;
    }
    .col{
        width:100%;
        max-width: none;
    }
    .col img{
        max-width: none;
    }
    .col h2{
        text-align: center;
    }
}