.testimonycont{
    max-width:1000px;
    margin:auto;
    padding:6rem 0 4rem 0;
    width:100%;
}
.testimonycont h2{
    text-align: left;
    padding: 0 2rem;
}
.testimonyblock{
    display: flex;
    align-items: center;
    width:80%;
    margin:auto;
    padding:2rem 0;
}
.testimonyblock p{
    color:var(--paragrafcolor);
    text-align: left;
    font-family: 'NotoSansKR';
}
.testimonyperson{
    text-align: right !important;
}

@media (max-width: 920px) {
    .testimonycont h2{
        text-align: center;
    }
}

@media (max-width: 500px) {
    .testimonycont h2{
        font-size:3rem;
    }
}